:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --background-main: #ffffff;
  --background-secondary: #f4f4fd;
  --backgraund-section: #e5e5e5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-main);
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* main */
.main {
}
/* hero */
.section-hero {
  background-color: var(--navy-blue);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}
.hero-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
}

.header {
}
.header-nav {
}
.header-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-dark {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.header-list {
}
.list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}
.header-address {
}
.header-address-item {
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* section */
.section-company {
}
.company {
}
.company-item {
}
.company-title,
.team-underitle,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.company-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section-work {
}
.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.work {
}
.work-item {
}
.work-img {
}
.section-team {
  background-color: var(--background-secondary);
}
.team {
}
.work-team {
  background-color: var(--background-main);
}
.team-underitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-img {
}
.team-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* portfolio */
.section-portfolio {
}
.portfolio {
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
}
.portfolio-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}

.portfolio-cards {
}
.portfolio-item-cards {
}
.portfolio-link {
}
.portfolio-img {
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.portfolio-text-hov {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
}
/* footer */
.footer {
  background-color: var(--navy-blue);
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-light {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
